<div class="main-content">
  <form [formGroup]="userForm">
    <div class="logo">
      <img src="https://churchcrm.io/assets/img/favicon.ico" alt="" />
    </div>
    <div class="title center">
      <h1>ChurchCRM</h1>
    </div>
    <div class="card">
      <div class="center">
        <h2 class="card-title">Login</h2>
        <p class="card-category">Enter the user informations</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input formControlName="email" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="box">      
      <button mat-raised-button class="primary">Login</button>
    </div>
    <div class="box center">
      <a>new account</a>
    </div>
    <div class="box center">
      <a>recover account</a>
    </div>
  </form>
</div>
