<div class="view">
  <div class="card" [formGroup]="form">
    <div class="header">
      <div class="title">
        <strong>Church</strong>CRM
      </div>
      <div class="subtitle">Please Login</div>
    </div>
    <div class="card-content">
      <mat-form-field>
        <input matInput placeholder="Email/Username" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="'password'" maxlength="20" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="card-actions">
      <div class="action">
        <mat-checkbox>Remember Me</mat-checkbox>
      </div>
      <div class="action">
        <button mat-raised-button color="primary" [disabled]="formInvalid" (click)="sendForm()">Sign in</button>
      </div>
    </div>
    <div class="link">
      <a routerLink="/forgot-password" class="centered">I forgot my password</a>
    </div>
  </div>
</div>
