<div class="view">
  <div class="card" [formGroup]="form">
    <div class="header">
      <div class="title"><strong>Church</strong>CRM</div>
      <div class="subtitle">Recover Password</div>
    </div>
    <div class="card-content">
      <mat-form-field>
        <input matInput placeholder="Email/Username" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="card-actions">
      <div class="action">
        <button mat-raised-button color="primary">Send</button>
      </div>
    </div>
    <div class="link">
      <a routerLink="/" class="centered">Back</a>
    </div>
  </div>
</div>
