.view {
    padding: 20px 20px 20px 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 400px;
    margin: auto !important;
    height: fit-content !important;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.header {
    height: fit-content;
    display: inline-block;
}

.title {
    font-size: 25pt !important;
    margin: 20px 0px 20px 0px;
}

.subtitle {
    font-size: 14pt !important;
    margin-bottom: 20px;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-actions {
    width: auto;
    display: flex;
    justify-content: right;    
}

button {
    width: 100%;
}

.action {
    text-align: left;
    width: 50%;
}

::ng-deep mat-form-field {
    width: 100%;
}

.link {
    margin: 20px;
    text-align: center;
    a {
        font-weight: bold;
        text-decoration: none;
    }
}
