.view {
    padding: 20px 20px 20px 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-direction: column;
}

::ng-deep mat-card {
    width: 100%;
    max-width: 400px;
    margin: auto !important;

    mat-card-title,
    mat-card-subtitle {
        padding-bottom: 15px;
        text-align: left;
    }

    mat-card-title {
        font-size: 25pt !important;
    }
    
    mat-card-subtitle {
        font-size: 14pt !important;
    }
    
    .column {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    mat-form-field {
        width: 100%;
    }

    mat-card-actions {
        padding-left: 16px !important;
        padding-right: 16px !important;
        text-align: left;
    }

    mat-checkbox {
        width: 100%;
    }

    button {
        width: 200px;
    }

}

.link {
    margin: 20px;
    text-align: left;
}